<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Aula Botao</ion-title>
    </ion-buttons>
 
  </ion-toolbar>
</ion-header>


  <ion-content>
    
     <ion-button expand="full" (click)="HelloConsole('Hello World')">Hello World</ion-button>
     <ion-button  expand="full" (click)="alertOk()">Aperte Ok</ion-button>
  
  </ion-content>



