<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Geolocalização</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Longitude: </ion-label>
  <ion-input type="text" [(ngModel)]="longitude" disabled></ion-input>
</ion-item>

<ion-item>
  <ion-label>Latitude: </ion-label>
  <ion-input [(ngModel)]="latitude" disabled></ion-input>
</ion-item>

<ion-item>
  <ion-label>Altitude : </ion-label>
  <ion-input type="text" [(ngModel)]="altitude" disabled></ion-input>
</ion-item>

<ion-item>
  <ion-label>Velocidade: </ion-label>
  <ion-input type="text" [(ngModel)]="velocidade" disabled></ion-input>
</ion-item>

</ion-content>
