<ion-header>
  <ion-toolbar>
    <ion-buttons>  
      <ion-menu-button side="start"></ion-menu-button>
      <ion-title>Menu</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-menu  side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item (click)="OpenPage('botao')">Botões</ion-item>
      <ion-item (click)="OpenPage('selects')">Caixa de Seleção</ion-item>
      <ion-item (click)="OpenPage('camera')">Camera</ion-item>
      <ion-item (click)="OpenPage('accelerometer')">Acelerometro</ion-item>
      <ion-item (click)="OpenPage('giroscopio')">Giroscopio</ion-item>
      <ion-item (click)="OpenPage('geolocation')">Geolocalização</ion-item>


    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>
  <h1>Aplicativo para testes de plugins e componentes do Ionic</h1>
</ion-content>