<ion-header>
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" (click)="obterFoto()"> Tirar Foto</ion-button>

  <ion-card [hidden]="!foto">
    <img src="{{ foto }}">
  </ion-card>

</ion-content>
