<ion-header>
  <ion-toolbar>
    <ion-title>accelerometer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Eixo X: </ion-label>
  <ion-input type="text" [(ngModel)]="eixoX" disabled></ion-input>
</ion-item>

<ion-item> 
  <ion-label>Eixo Y: </ion-label>
  <ion-input type="text" [(ngModel)]="eixoY"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Eixo Z: </ion-label>
  <ion-input type="text" [(ngModel)]="eixoZ"></ion-input>
</ion-item>

<ion-button expand="full" (click)=" obterAcelerometro()"> Ativar </ion-button>
<ion-button expand="full" (click)="desligarAcelerometro()"> Desligar</ion-button>
</ion-content>
