<ion-header>
 
  <ion-toolbar>
    <ion-buttons> 
      <!-- CRIAÇÃO DO BOTAO DE VOLTAR -->
      <ion-back-button></ion-back-button>
      <ion-title>Caixa de Seleçao</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- COMEÇO DA LISTA -->
  <ion-list>
    <!-- função para capturar o evento feito dentro do Radio Group -->
    <ion-radio-group (ionChange)="onChange($event)" >
      <!-- CABEÇARIO DA LISTA -->
      <ion-list-header>
        <ion-label>Cor Selecionada</ion-label>
      </ion-list-header>
      <!-- ADICIONANDO ITEMS DA LISTA -->
      <ion-item>
        <ion-label>Vermelho</ion-label>
        <ion-radio slot="start" value="vermelho" checked="true" ></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Amarelo</ion-label>
        <ion-radio slot="start" value="Amarelo" ></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Azul</ion-label>
        <ion-radio slot="start" value="Azul"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
